.img-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.img-container img {
    z-index: 2;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.img-container button {
    z-index: 99;
    position: absolute;
    right: 15px;

    &:not(:disabled) {
      cursor: pointer;
    }
}

@for $i from 1 through 7 {
    .img-container > button:nth-of-type(#{$i}):not(#ngx-fs-btn) {
        bottom: 15px + (50px * ($i - 1))
    }
}

#ngx-fs-btn {
    top: 15px;
}

.nav-button-container > button {
    position: relative;
    right: 0;
    margin: 0 10px;
}

.nav-button-container {
    text-align: center;
    position: absolute;
    z-index: 98;
    bottom: 10px;
    left: 0;
    right: 0;
}

.spinner-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);  
}

.spinner-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    margin: auto;
}